*
{
    margin: 0;
    padding: 0;
}

.header
{
    position: fixed;
    display: none;
    height: 10vh;
    width: 100%;
    background-color: #b01116;
    z-index: 2;
}

.burger_knap
{
    position: absolute;
    right: 0;
    height: 10vh;
    width: 10vh;
    cursor: pointer;
}

.fa-bars
{
    position: absolute;
    color: white;
    font-size: 7vh;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.menu_knap
{
    position: relative;
    float: right;
    height: 50px;
}

.main
{
    display: flex;
}

.hovedindhold
{
    position: relative;
    width: 85%;
    font-family: Tahoma, sans-serif;
}

.hovedindhold_titel
{
    margin: 10px;
}

.hovedindhold_brodtekst
{
    margin: 20px;
    color: black;
    font-size: 14pt;
}

.banner
{
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.banner img
{
    width: 100%;
    position: absolute;
    transform: translateY(-18%);
}

.banner h1
{
    position: absolute;
    left: 50px;
    bottom: 50px;
    color: #f5a40f;
    font-family: Tahoma, sans-serif;
    text-shadow: 2px 2px 2px black;
}

.sidemenu
{
    position: fixed;
    background-color: #b01116;
    left: 100%;
    transform: translateX(-100%);
    width: 15%;
    height: 100%;
}

.sidemenu_mobil
{
    display: none;
    position: fixed;
    background-color: #b01116;
    left: 100%;
    top: 10vh;
    transform: translateX(-100%);
    width: 0;
    height: 100%;
    z-index: 2;
}

.logo
{
    position: relative;
    height: 30vh;
}

.logo_mobil
{
    position: absolute;
    height: 10vh;
    width: 30%;
}

.logo img, .logo_mobil img
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.logo img
{
    width: 80%;
}

.logo_mobil img
{
    height: 7vh;
}

.sidemenu a, .sidemenu_mobil a
{
    text-decoration: none;
    color: white;
}

.sidemenu_element
{
    position: relative;
    width: 100%;
    height: 8vh;
    min-height: 50px;
}

.sidemenu_mobil .sidemenu_element
{
    height: 15vh;
    border-top: 1vh solid white;
}

.sidemenu_tekst 
{
    position: relative;
    font-family: Tahoma, sans-serif;
    font-size: 16pt;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-decoration: none;
}

.sidemenu_element:hover .sidemenu_tekst
{
    text-decoration: underline;
}

#map 
{
    position: absolute;
    top: 0;
    bottom: 0; 
    width: 75%; 
}

#test
{
    position: absolute;
    z-index: 10;
}

.footer
{
    position: relative;
    background-color: #f5a40f;
    height: 10vh;
    width: 85%;
}

.footer_some
{
    position: absolute;
    width: 40%;
    height: 100%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: black;
    font-size: 7vh;
}

.footer_info
{
    display: flex;
    position: absolute;
    width: 40%;
    height: 100%;
    left: 0;
    align-items: center;
    justify-content: space-evenly;
    color: black;
    font-family: Tahoma, sans-serif;
    font-size: 2.5vh;
}

.footer_info p
{
    display: inline-block;
}

.footer_some p
{
    font-size: 4vh;
    font-family: Tahoma, sans-serif;
}

/* -------------------------- */

#pilOp, #pilNed, #pilVenstre, #pilHøjre
{
    position: absolute;
    font-size: 30pt;
    color: red;
    z-index: 10;
    text-shadow: 2px 2px 2px black;
}

#pilOp
{
    left: 50%;
    top: 40%;
}

#pilNed
{
    left: 50%;
    top: 60%;
}

#pilVenstre
{
    left: 40%;
    top: 50%;
}

#pilHøjre
{
    left: 60%;
    top: 50%;
}

.skole_navigator
{
    position: relative;
    margin: auto;
    width: calc(100% - 100px);
    border: 1px solid black;
    overflow: hidden;
    white-space: nowrap;
    line-height: 0;
}

.skole_navigator div
{
    position: absolute;
    width: 100%;
}

.mapimg
{
    margin: 0;
    position: relative;
    display: inline-block;
    width: 100%;
}

/* Media queries */

@media only screen and (max-width: 1050px)
{
    .footer_info, .footer_some
    {
        width: 50%;
    }
}

@media only screen and (max-width: 800px)
{
    .sidemenu, .sidemenu *
    {
        display: none;
    }

    .sidemenu_mobil
    {
        display: block;
    }

    .hovedindhold, .footer
    {
        width: 100%;
        top: 8vh;
    }

    .header
    {
        display: block;
    }

    .footer_some
    {
        width: 40%;
    }

    .footer_some p
    {
        display: none;
    }

    .footer_info
    {
        width: 60%;
    }
}

@media only screen and (max-width: 600px)
{
    .footer_info
    {
        flex-direction: column;
        width: 50%;
    }

    .footer_some
    {
        width: 50%;
    }

    .footer, .footer_info, .footer_some
    {
        height: 15vh;
    }
}