*
{
    margin: 0;
    padding: 0;
}

.menu_knap
{
    display: relative;
    float: right;
    height: 50px;
}

.main
{
    display: flex;
}

.hovedindhold
{
    width: 85%;
}

.banner
{
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.banner img
{
    width: 100%;
    position: absolute;
    transform: translateY(-18%);
}

.banner h1
{
    position: absolute;
    left: 50px;
    bottom: 50px;
    color: #f5a40f;
    font-family: Tahoma, sans-serif;
    text-shadow: 2px 2px 2px black;
}

.sidemenu
{
    position: fixed;
    background-color: #b01116;
    left: 100%;
    transform: translateX(-100%);
    width: 15%;
    height: 100%;
}

.logo
{
    position: relative;
    height: 200px;
}

.logo img
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.sidemenu a
{
    text-decoration: none;
    color: white;
}

.sidemenu_element
{
    position: relative;
    width: 100%;
    height: 50px;
}

.sidemenu_tekst 
{
    position: relative;
    font-family: Tahoma, sans-serif;
    font-size: 16pt;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-decoration: none;
}

.sidemenu_element:hover .sidemenu_tekst
{
    text-decoration: underline;
}

#map 
{
    position: absolute;
    top: 0;
    bottom: 0; 
    width: 75%; 
}

#test
{
    position: absolute;
    z-index: 10;
}

.footer
{
    background-color: #f5a40f;
    height: 50px;
    width: 85%;
}

/* -------------------------- */

#pilOp, #pilNed, #pilVenstre, #pilHøjre
{
    position: absolute;
    font-size: 18pt;
    color: red;
}

#pilOp
{
    left: 50%;
    top: 40%;
}

#pilNed
{
    left: 50%;
    top: 60%;
}

#pilVenstre
{
    left: 40%;
    top: 50%;
}

#pilHøjre
{
    left: 60%;
    top: 50%;
}

.skole_navigator
{
    position: relative;
    margin: auto;
    width: calc(100% - 100px);
    border: 1px solid black;
    overflow: hidden;
}

.skole_navigator div
{
    position: absolute;
    width: 100%;
}

.mapimg
{
    margin: 0;
    position: relative;
    width: 100%;
}